.select_chosen {
  cursor: pointer;
  background-color: pink;
  width: 100px; }

.select__datalist {
  margin-top: 5px;
  overflow-x: auto;
  width: 100px;
  display: none;
  position: absolute;
  background-color: yellow; }
  .select__datalist_show {
    display: block; }
  .select__datalist__item {
    font-size: 17px;
    cursor: pointer; }
    .select__datalist__item:hover {
      background-color: green; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
